:root{
    --lightshade: #4FB1FA;
    --darkerLightshade: #409ba3;
    --textColor: #EAEAEA;
    --darkTextColor: #ccc;
    --background: #282f31;
    --dropShadowColor: rgba(8, 8, 11, 0.55);
}
.background {
    background: var(--background);
}
#main-section{
    width: 90%;
    padding-top: 11vh ;
    margin-left: auto;
    margin-right: auto;
    background: var(--background);
    box-shadow: 0px 5px 5px 5px var(--dropShadowColor);
    /*border-top: 0;*/
}

.top-bar-body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 9vh;
    box-shadow: 0px 0px 5px 5px var(--dropShadowColor);
    z-index: 1;
    background-color: var(--background);
    border-bottom: 2px solid var(--lightshade);
}

ul#horizontal-list {
    display: flex;
    align-items: center ; /* Default */
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
}
ul#horizontal-list li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}


.top-bar-button{
    height: 100%;
    font-size: 2.5vw;
    color: var(--textColor);
    background-color: rgba(0,0,0,0);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Share Tech Mono', monospace;
}

#header-logo{
    font-size: 3vw;
    font-family: 'Share Tech Mono', monospace;
    color: var(--textColor);
    height: 100%;
    margin: auto;
    border: none;
    align-self: center;
    vertical-align: middle;
    flex: 1;
    padding-left: 2vW;
}

.top-bar-button:hover{
    color: var(--background);
    background-color: var(--lightshade);
    border: none;
    font-weight: bold;
}



#about-section{
    margin: auto;
    color: var(--textColor);
    font-size: 4.5vh;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#side-text{
    color: var(--textColor);
    white-space: pre;
}

ul#games-section, #contact{
    width: 100%;
    position: relative;
    font-size: 60px;
    font-family: 'Share Tech Mono', monospace;
    color: var(--textColor);
    margin: auto;
    text-align: center;
    list-style: none;
    padding-left: 0px;
}

#contact-list{
    display: flex;
    align-items: center ; /* Default */
    justify-content: center;
    width: 100%;
    height: 5vh;
    list-style: none;
    margin: 20px 20px 20px 20px;
    padding-bottom: 20px;
    list-style: none;
}

#contact-list li{
    display: block;
    flex: 0 1 auto; /* Default */
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}


ul#team-section li, ul#games-section li{
    font-size: 25px;
    color: var(--textColor);
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 2.55% 5%;
}

.modular-widget{
    color: var(--textColor);
    padding: 20px;
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 5px 5px var(--dropShadowColor);
    display: flex;
    /*justify-content: flex-start;*/
}

.clean-hyperlink{
    color: var(--textColor);
    text-decoration: none;
}

.modular-widget .thumbnail {
    padding: 5px 10px 5px 5px;
    border-right: 2px solid var(--lightshade);
    height: 200px;
    width: auto;
    flex: 0 1 auto;
    display: inline;
}

.widget-text h2{
    border-bottom: 2px solid var(--lightshade);
    padding-bottom: 2px ;
}

.widget-text{
    padding: 10px;
    flex: 1;
}


.home-footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--lightshade);
    color: var(--background);
    align-content: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Share Tech Mono', monospace;
}

.section-header{
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--lightshade);
    box-shadow: 0px 10px 5px -5px var(--dropShadowColor);
    margin: auto;
    font-family: 'Share Tech Mono', monospace;
    color: var(--textColor);
}

.section-header div{
    background-color: var(--background);
    box-shadow:  none;
}

.end-gap{
    margin-bottom: 100px;
}

.inline-logo{
    vertical-align: middle;
    background: var(--textColor);
    padding: 10px 20px 10px;
    border-radius:  5px;
    box-shadow: 0px 0px 5px 5px var(--dropShadowColor);
}
