@use 'config' as *;
@include media-md {

    .nav{
       display: none ;
    }

    .disable-non-mobile{
       display: none ;
    }
}

@include mobile {


    .disable-mobile{
       display: none ;
    }

}
@mixin media-sm {
   @media screen and (max-width:560px) {
       @content;
   }
}

@include media-sm {
   .disable-sm{
      display: none ;
   }
}

