@use 'config' as *;
@include media-md {
    .menu-btn{  
       display: none !important;
    }

    .nav{
       display: none !important;
    }

    .disable-non-mobile{
       display: none !important;
    }
}

@include mobile {
    .navBar {
       display: none !important;
    }

    .disable-mobile{
       display: none !important;
    }
}