@use 'config' as *;
@use 'fonts' as *;
@use 'menu' as *;
@use 'responsive' as *;
section{
    padding: 5em, 1em;
}

body {
    background-color: $background-color;
    color: $normal-font-color;
    height: 100vh;
    font-family: $normal-font-family;
    line-height: 1.6;
}
h1{
    @include headerFontSettings(5rem, 4.5rem);
}
strong {
    @include headerFontSettings(5rem, 4.5rem);
    display: block;
}
.job-line {
    text-decoration: underline;
    color: $primary;
}


h2 { 
    @include headerFontSettings(4rem, 3.5rem);
    font-style: normal; font-size: 4rem;
}
h3 { font-style: normal; font-size: 3rem;}
a {
    color: $normal-font-color;
    text-decoration: none;
}


header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
    
    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        
    }

    a {
        padding: 0.4rem;
        @include transition-ease;
        &:hover{
            color: $primary;
        }
    }     
}

.home {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    width: 100%;
    height: 100%;
    padding-top: 55px;
    padding-bottom: 55px;
    

    .mirai-container{
        grid-column: 2 / 5;
        grid-row: 1 / 3;


        padding: 5em;
        // justify-content: center;
        // display: inline-flex;
        // flex-direction: column;
        // display: flex;
        // align-items: stretch;
        
        div{
            width: auto;
            height: 0;
            padding-top: calc(33%);
            position: relative;
  
            justify-self: center;
            .mirai {
                // vertical-align: auto;
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .intro{
        z-index: 1;
        position: relative;
        &__greeting {
            z-index: 1;

            grid-column: 1 / 2;
            grid-row: 2 / 3;
            
           margin-top: auto;
        }
        &__rest {
            z-index: 1;

            grid-column: 1 / 5;
            grid-row: 3 / 5;
        }
    }
}


footer {
    font-size: 1rem;
    position: fixed;
    bottom: .4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color:$normal-font-color; 
}

