@use 'config' as *;
@use 'fonts' as *;
@use 'home' as *;
@use 'menu' as *;
section{
    padding: 5em, 1em;
}

body {
    background-color: $background-color;
    color: $normal-font-color;
    height: 100vh;
    font-family: $normal-font-family;
    line-height: 1.6;


    img {
        display: block;
        max-width: 100%;
    }
}
h1{
    @include headerFontSettings(5rem, 4.5rem);
}
strong {
    @include headerFontSettings(5rem, 4.5rem);
    display: block;
}
#job-line {
    text-decoration: underline;
    color: $primary;
}

h2 { 
    @include headerFontSettings(4rem, 3.5rem);
    font-style: normal; font-size: 4rem;
}
h3 { font-style: normal; font-size: 3rem;}
a {
    color: $normal-font-color;
    text-decoration: none;
}


header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
    
    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        
    }

    a {
        padding: 0.4rem;
        @include transition-ease;
        &:hover{
            color: $primary;
        }
    }     
}

.intro {
    position: relative;
    display: grid;
    grid-column-gap: 1em;
    margin: 0 auto;
    grid-template-areas: "img title", "img subtitle" ;
    grid-template-columns: min-content, max-content;    
    align-items: top;
    justify-content: center;

    @include mobile {

    }

    &__img {
        grid-area: img;
        min-width: 150px;
        max-width: 250px;
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: .4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color:$normal-font-color; 
}