---
layout: skeleton
showNavMirai: true
Title: B-DeshiDev
testlogs:
  - title: 'uploading consciousness to cyberspace'
    previewImage: '/assets/img/gifs/UPLOADING_CONSCIOUSNESS_TO_CYBERSPACE.gif'
    description: 'just your average neighbourhood cyberghost'
  - title: 'uploading consciousness to cyberspace'
    previewImage: '/assets/img/gifs/UPLOADING_CONSCIOUSNESS_TO_CYBERSPACE.gif'
    description: 'just your average neighbourhood cyberghost'
customcss:
  - 'assets/css/devlogs.css'
---
<h1>The Creative Process.</h1>

  <div class="devlogsPreview">


     
    {% for devlog in site.posts %}
        <a href="{{ post.url }}">
          {% include devlogPreviewWidget.html  %}
        </a>
    {% endfor %}
         

  </div>
 


