---
layout: skeleton
showNavMirai: true
Title: B-DeshiDev 
customcss:
  - 'assets/css/portfolio.css'
resumePDF: 
---

<!-- <ul class='gamesList'>
    <h2>Commercial:</h2>
    {% for game in site.data.games.commercial %}
        {% include gameWidget.html %}
    {% endfor %}
</ul>
<ul class='gamesList'>
    <h2>Personal:</h2>
    {% for game in site.data.games.personal %}
        {% include gameWidget.html %}
    {% endfor %}
</ul>
dfdfdfdfd -->


<div class="portfolio">
    <a href="/assets/downloadable/B_DeshiDev_Resume.pdf" target="_blank">
        <button class="cta-button">
            <i class="fa fa-file-pdf" aria-hidden="true"></i>
            <span> Resume </span>
        </button>
    </a>
    <h2>
        Why me?
    </h2>
        <ul>
            {% for reason in site.data.portfolio.why_me %}
                <li>{{reason}}</li>
            {% endfor %}
        </ul>
    <h2>
        Education:
    </h2>
    <div>
        {% for degree in site.data.portfolio.degrees %}
            {% include educationWidget.html %}
        {% endfor %}
    </div>
    <h2>
        Languages:
    </h2>
    <div class="portfolio__skill__block">
        {% for language in site.data.portfolio.languages %}
            <span class="portfolio__skill__block__element">{{ language }}</span>
        {% endfor %}
    </div>
    <h2>
        Frameworks/Tools:
    </h2>
    <div class="portfolio__skill__block">
        {% for ft in site.data.portfolio.frameworks_tools %}
            <span class="portfolio__skill__block__element">{{ ft }}</span>
        {% endfor %}
    </div>
    <h2>
        Skills:
    </h2>
    <div class="portfolio__skill__block">
        {% for skill in site.data.portfolio.skills %}
            <span class="portfolio__skill__block__element">{{ skill }}</span>
        {% endfor %}
    </div>
    <h2>
        Projects(Commercial):
    </h2>
    {% for game in site.data.games.commercial  %}
        <div>{% include gamePortfolioWidget.html %}</div>
    {% endfor %}
    <h2>
        Projects(Non-Commercial):
    </h2>
    {% for game in site.data.games.personal  %}
        {% if game.includeInPortfolio %}
            <div>
                {% include gamePortfolioWidget.html %}
            </div>
            <br>
        {% endif %}
    {% endfor %}
</div>


