<a href="{{ devlog.url }}">
    <div class="devlogPreviewWidget">
        <img class="devlogPreviewWidget__Icon" src="{{ devlog.previewImage }}" alt="{{ devlog.title }} previewImage">
        <div class="devlogPreviewWidget__Body">
            <h3 class="devlogPreviewWidget__Body__Title">
                {{devlog.title}}
            </h3>
            <div class="devlogPreviewWidget__Body__Desc">
                {{devlog.description}}
                {{ devlog.content | truncatewords:40 |
                strip_html }}
            </div>
        </div>
    </div>
</a>