<div class="portfolio__Degree">
    <div class="portfolio__Degree__Logo">
        <img src="{{ degree.icon }}">
    </div>
    <div class="portfolio__Degree__Desc">
        <h3 class="portfolio__Degree__Desc__Where">
            {{ degree.where }}
        </h3>
        <div class="portfolio__Degree__Desc__When">
            {{ degree.when }}
        </div>
        <div class="portfolio__Degree__Desc_What">
            <strong>{{ degree.what }}</strong>
        </div>
        <div>
            <strong> Grade: </strong>
            {{ degree.grade }}
        </div>
    </div>
</div>