<div class="portfolio__Degree">
    <div class="portfolio__Degree__Logo">
        <img src="{{ degree.icon }}">
    </div>
    <div class="portfolio__Degree__Desc">
        <h4 class="portfolio__Degree__Desc__Where">
            {{ degree.where }}
        </h4>
        <div class="portfolio__Degree__Desc__When">
            {{ degree.when }}
        </div>
        <div class="portfolio__Degree__Desc_What">
            <strong>{{ degree.what }}</strong>
        </div>
        <!-- <div>
            <strong> CGPA: </strong>
            {{ degree.grade }}
        </div> -->
    </div>
</div>