<div class="gamePreviewWidget">
    <h3 class="gamePreviewWidget__Title"><span>{{game.name}}</span></h3>
    <div class="gamePreviewWidget__Icon">
        <a href="{% link games.html %}#{{ game.name | url_encode}}">
            <img src="{{ game.icon }}" alt="{{ game.name }} icon">
        </a>
    </div>
    <span class="gamePreviewWidget__PlatformsList">
        <span>Available on:</span>
        <div class="IconsList">
            {% if game.steam %}
                <a href="{{game.steam}}" class="PlatformLink">
                    <i class="fab fa-steam"></i>
                </a>
            {% endif %}
            {% if game.itch %}
                <a href="{{game.itch}}" class="PlatformLink">
                    <i class="fab fa-itch-io"></i>
                </a>
            {% endif %}
        </div>
    </span>
</div>