<div class="portfolio__project">
    <div class="portfolio__project__Desc__Header">
        <div>
            <img src="{{ game.portfolioHighlights.thumbnail }}" alt="{{ game.name }} icon" class="portfolio__project__Desc__Header__Icon">
        </div>    
        <div class="portfolio__project__Desc__Header__Desc">
            <h3 >{{ game.name }}</h3>
            <div class="portfolio__project__Desc__Header__Desc__Body">{{ game.portfolioHighlights.desc }}</div>
            <div class="portfolio__project__Desc__Header__Links">
                {% if game.steam %}
                <a href="{{game.steam}}" class="portfolio__project__Desc__Header__Links__Link">
                    <i class="fab fa-steam"></i>
                </a>
                {% endif %}
                {% if game.itch %}
                <a href="{{game.itch}}" class="portfolio__project__Desc__Header__Links__Link">
                    <i class="fab fa-itch-io" ></i>
                </a>
                {% endif %}
                {% if game.github %}
                    <a href="{{game.github}}" class="portfolio__project__Desc__Header__Links__Link">
                        <i class="fab fa-github"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="portfolio__project__Desc__Body">
        <ul class="portfolio__project__Desc__Body__Work">
            {% for work in game.portfolioHighlights.work %}
                <li >{{ work }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if game.portfolioHighlights.articles %}
        {% for article in game.portfolioHighlights.articles %}
            <a href="{{ article.link }}" class="portfolio__project__article" >
                <i class="fa fa-link" aria-hidden="true"></i>
                {{ article.desc }}
            </a>
        {% endfor %}
    {% endif %}
</div>