// $purple-dark:  #9926f0;
// $purple-light:  #BB6EF5;
// $pink:    #d122e3ff;

// $header-font-color: white;
// $normal-font-color:   #d8d8d8;
//$background-color:  rgb(4, 3, 5);
// 
$purple-dark:  #D83f87;
$purple-light:  #BB6EF5;
$pink:    #d122e3ff;

$header-font-color: white;
$normal-font-color:   white;

// $primary-dark:       hsl(274, 100%, 44%);
// $primary:  hsl(274, 100%, 34%);
$primary-dark:       hsl(286, 100%, 50%);
$primary:  #7d00a3;

$secondary-dark:     #ffc107;
$secondary:     #ff9800;

// $background-color:  #09090A;
// $background-color:  #020202;
// $bg-light: lighten($color: $background-color, $amount: 2);

$background-color:  #030303;
$bg-light: #0a0b0c;
$bg-light-2: #2a2a2b;

// $background-color:  rgb(4, 3, 5);

@mixin transition-ease {
    transition: all .33s ease-in-out;
}

a {
    // color: $normal-font-color;
    color: $secondary;
    text-decoration: none;
}

@mixin bg-color-text ($bg-col: $primary){
    color: $background-color;
    background: $bg-col;
}

