// $purple-dark:  #9926f0;
// $purple-light:  #BB6EF5;
// $pink:    #d122e3ff;

// $header-font-color: white;
// $normal-font-color:   #d8d8d8;
//$background-color:  rgb(4, 3, 5);
// 
$purple-dark:  #D83f87;
$purple-light:  #BB6EF5;
$pink:    #d122e3ff;

$header-font-color: white;
$normal-font-color:   #d8d8d8;

$primary:       #9c27b0;
$primary-dark:  #7200ca;
$secondary:     #ffc107;
$secondary-dark:     #ff9800;

$background-color:  rgb(4, 3, 5);
$text-bg:#a4a8af;

@mixin transition-ease {
    transition: all .33s ease-in-out;
}

a {
    // color: $normal-font-color;
    color: $secondary;
    text-decoration: none;
}

