@import 'config';
@import 'fonts';
@import 'responsive';
@import 'mirai';
@import 'menu';
section{
    padding: 5em, 1em;
}

body {
    background-color: $background-color;
    color: $normal-font-color;
    // height: 100vh;
    font-family: $normal-font-family;
    // line-height: 1.6;
    width: auto;
    height: auto;

    // justify-self: auto;
    margin: auto;
}
h1{
    @include headerFontSettings(5rem, 4.5rem);
}



h2 { 
    @include headerFontSettings(4rem, 3.5rem);
    font-style: normal; font-size: 4rem;
}
h3 { font-style: normal; font-size: 3rem;}



header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    // height: 100%;
    // width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        
    }

    a {
        padding: 0.4rem;
        @include transition-ease;
        &:hover{
            color: $primary;
        }
    }     
}


.content {
    padding-top: 55px;
    // padding-bottom: 55px;
}

.cta-button {
    background: $primary;
    border: none;
    margin-top:  .5rem;
    padding: .5rem;
    font-weight: 300;
    font-size: 3rem;
    font-family: $header-font-family;
    @include transition-ease;

    transform: translateX(0);
    &.hide {
        transform: translateX(-200%);
    }

    &:hover {
        background: $primary-dark;
        font-weight: bolder;
    }
}

