

// @import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Montserrat&display=swap');

// $header-font-family:'Jura',  sans-serif;
// $normal-font-family: Montserrat,  sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@200;400&display=swap');
$normal-font-family: 'Raleway', sans-serif;

// @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Montserrat&display=swap');
// $header-font-family: 'Righteous', cursive;
$header-font-family:'Montserrat',  sans-serif;

@mixin headerFontSettings($normalSize, $mobileSize) {
    font-family: $header-font-family;
    font-weight: bolder;
    font-size: $normalSize;
    line-height: 1.1;
    margin: 0;
}
@mixin textFontSettings {
    font-family: $normal-font-family;
    font-weight: 500;
    font-size: 1rem;
}

.text-bg {
    font-family: $normal-font-family;
    font-weight: 400;
}
@mixin nowrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
@mixin pad-lr($amount:.25rem) {
    padding-left: $amount;
    padding-right: $amount;
}
@mixin margin-lr($amount:.25rem) {
    margin-left: $amount;
    margin-right: $amount;
}

@mixin margin-tb($amount:.25rem) {
    margin-top: $amount;
    margin-bottom: $amount;
}
@mixin undo-header-padding {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}