
.menu-btn {
    position: relative;
    align-self: center;
    right: 1rem;

    
    height: 20px;
    width: 28px;
    cursor: pointer;

    @include transition-ease;
    
    &__burger {
        position: absolute;
        right:0;
        top: .5rem;
        width: 28px;
        height: 3px;
        background: $primary;

        &::before{
            position: absolute;
            top: -8px;
            content: '';
            width: 28px;
            height: 3px;
            background: $primary;
            @include transition-ease;
        }


        &::after{
            position: absolute;
            top: 8px;
            content: '';
            width: 20px;
            height: 3px;
            background: $primary;
            @include transition-ease;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after{
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}


.burger-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: .98;
    visibility: hidden;


    margin-top: 55px;

    &.open{
        visibility: visible;
    }

    .burger-menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: wrap;
        background: $background-color;
        list-style-type: none;
        transform: translateX(100%);


        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
        @include transition-ease;
    
    

        &.open{
            transform: translateX(0);
        }

        &__item {
            transform: translateX(100vw);
            @include transition-ease;

            &.open{
                transform: translateX(0);
            }

            &.active > a {
                color: $primary;
            }
        }

        &__link {
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 2rem 0;
            font-weight: 300;
            @include transition-ease;
            color: white;
            &:hover {
                color: $primary;
            }
        }
    }
}

.navBar{
    position: fixed;
    top: 0;
    left: 0;

    background: $background-color;
    display: grid;  
    grid-template-columns: 4fr 180px 4fr;
    width: 100%;
    height: 55px;
    box-shadow: inset 0 -5px $primary;



    &__item {
        @include transition-ease;
        // padding-right: 10px;
        // padding-left: 20px;

        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        // box-shadow: inset 0 -5px $primary;


    }


    &__link {
        font-size: 1.5rem;
        padding: .1rem;
        text-transform: uppercase;
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: 300;
        text-align: center;
        // font-variant: ;   
        @include transition-ease;

        color: white;
        &.active > a {
            color: $background-color;
            background: $primary;
        }
    }
    
}


#nav-logo{
    box-shadow: inset 0 -5px $background-color;
    background-color: $background-color;
    // box-sizing: content-box;
    position: relative;
}


.test{
    border-bottom: 5px solid $primary;
    margin: 0;
}

#right-navBar {
    @include media-sm {
        // flex-direction: row-reverse;
        justify-self: right;
        // justify-content: left;
    }
}


#nav-logo{
    text-align: center;
}
@for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * .1s) + .15s;
    }
}
