
.mirai {
    position: relative;

    &__Teeth, &__Cheek{
        background: $primary;
        position: absolute;
        display: inline-block;
    }
    &__Eye{
        fill: $primary;
        stroke: $primary;
        position: absolute;
        display: inline-block;
        pointer-events: none;
    }

    
}

