---
---

@import 'core';

.blog{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "pd tt ."
                         "tp bd sn"
                         ".  rt . ";
    // background: blue;
    &__Title{
        grid-area: tt;
        position: relative;
        // background: $bg-light;
        &__Image{
            // position: absolute;
            top: 0;
            bottom: 0;
            // right: 0;
            // left: 0;

            background: coral;

            // aspect-ratio: 4/1;
            min-height: 100px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        &__Text{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-transform: capitalize; 
            
            @include headerFontSettings(2, 1.2);
            font-size: 3rem;
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.5));
            padding-left: .5rem;
            padding-right: .5rem;
        }
        // background: red;
    }
    &__PublishData{
        grid-area: pd;
        // background: red;
        display: flex;
        margin-left: auto;
        margin-right: .5rem;


        flex-direction: column-reverse;
        &__Writer{

            @include headerFontSettings(2, 1.2);
            @include bg-color-text;
            @include nowrap-text;
            margin-left: auto;
            justify-self: auto;
            margin-bottom: .5rem;

            font-size: 2rem;
            padding-left: .5rem;
            padding-right: .25rem;

        }

        &__Date{
            @include bg-color-text($secondary);
            margin-bottom: .5rem;
            margin-left: auto;
            justify-self: auto;

            padding-left: .5rem;
            padding-right: .25rem;
        }
    }
    &__Body{
        grid-area: bd;
        background: $bg-light;
        padding: 1rem;
        font-size: 1.2rem;
        // background: red;
    }
    &__Related{
        grid-area: rt;
    }
    &__SideNav{
        grid-area: sn;
        // margin-left: auto;
        // margin-right: auto;

        &__List {
            list-style: none;
            @include undo-header-padding;
            border-left: 4px $secondary solid;
            padding-inline-start: 8px;

            &::before{
                content: 'Jump()';
                @include headerFontSettings(1.8rem, 1.8rem);
                @include bg-color-text($secondary);
                @include pad-lr;
                line-height: 2.4rem;
                border-bottom: 2px $secondary solid;  
                font-weight: bold;                              
            }
            &__Item {
                line-height: 2.6rem;
                text-overflow: ellipsis;
                
                &__Anchor{
                    font-size: 1.8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    &:hover{
                        @include bg-color-text($secondary);
                        color: $background-color;
                        font-weight: 900;
                    }
                }

                &.AnchorStuck{

                    .blog__SideNav__List__Item__Anchor{
                        @include bg-color-text($secondary);
                        font-weight: 900;
                        color: $background-color;
                    }
                    // top:0;   
                    // margin-top: 55px;
                }

                &__Submenu{
                    list-style: none;
                }
            }
            &.stuck {
                position:fixed;
                z-index: 1;
                top:0;
                margin-top: 55px;

                &__Item {

                    &.AnchorStuck{
                        position:fixed;
                    }
                }
            }
            
        }
    }
    &__Topic{
        grid-area: tp;
        margin-right: .5rem;
        margin-left: .5rem;
        justify-self: right;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: right;
        h4{
            font-size: 1.5rem;
            @include bg-color-text;
            @include undo-header-padding;
            @include pad-lr;
            margin-left: auto;
        }

        .gamePreviewWidget {
            // background: $bg-light;
            display: flex;
            flex-direction: column;
            // justify-content: right;
            // width: 300px;
            // justify-content: stretch;
            
            &__Icon {
                margin-top: .5rem;

                height: 100%;
                display: flex;
                align-content: flex-start;

                a {
                    height: auto;
                    height: auto;
                    flex-grow: 1;
                    padding: 0;
                    img {
                        max-width: 100%;
                        height: auto;
                        height: auto;
                        // width: 400px;
                        
                    }
                }
                
            }
            &__Title {
                font-family: $header-font-family;
                display: inline;
                font-size: 1.8rem;
                @include undo-header-padding;
                // @include nowrap-text;
                @include bg-color-text;
                // padding-left: .25rem;

                margin-top: .5rem;                
                margin-left: auto;
                
                justify-self: right;
                
                span {
                    padding-left: .5rem;
                    padding-right: .5rem;
                    @include bg-color-text;
                    margin-left: auto;
                    justify-self: right;
                    
                    font-size: 1.8rem;
                }
                
            }   
            &__Desc {
                font-size: 1.5rem;
            }
            &__PlatformsList{
                margin-top: .5rem;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                span{
                    @include bg-color-text($secondary);
                    @include headerFontSettings(1.5rem,1.5rem);
                    display: block;
                    padding-left: .25rem;
                    padding-right: .25rem;
                    margin-right: auto;
                }
        
                .IconsList{
                    display: inline-flex;
                    flex-direction: row-reverse;
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        &__Tags{
            padding: .5rem;
            padding-right: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            flex-direction: row-reverse;
        }

        &__Tag{
            @include pad-lr(.25rem);
            // @include margin-tb(5rem);
            @include bg-color-text($secondary);
            margin-left: .25rem;
        }
    }

    @include media-md {
        display: flex;
        flex-direction: column;
        position: relative;

        &__Related{
        }
        &__SideNav{
            position: fixed;
            right: 0;
        }
        &__Topic{
            position: fixed;
            
        }
    }
}


.sticky-wrapper{
    padding: 0;
    // border-left:  2px $secondary solid;
    
}
