---
---

@import 'core';


.devlogsPreview{
    display: flex;
    flex-direction: column;

}


.devlogPreviewWidget{
    background:$bg-light;
    display: flex;
    flex-direction: row;
    @include media-md{
        &__Icon{
            margin-left: auto;
            margin-right: auto;
            max-width: unset;
            width: 100%;
            height: auto;
        }
        flex-direction: column;
    }

    a{
        padding: unset
    }
    &__Icon{
        // background: blue;
        // max-width: 100%;
        // max-height: 20vh;

        // margin-top: .5rem;

        max-width: 300px;
        height: auto;
    }
    &__Body{
        &__Title{
            @include undo-header-padding;
            @include headerFontSettings(1.5rem, 1.3rem);
            @include font_size_responsive(1.8rem, 1.5rem, 1.3rem, 1.25rem);
            @include bg-color-text;
            padding: .25rem;
            text-transform: capitalize; 
    
            // @include nowrap-text;
            flex-grow: 0;
            display: block;
            color: $bg-light;
            color: $background-color;
            
        }
        
        &__Desc{
            @include undo-header-padding;
            @include font_size_responsive(1.4rem, 1.3rem, 1.2rem, 1.1rem);
            padding: .25rem;
            text-overflow: ellipsis;  
            color: $header-font-color;
        }
    }
    
}