---
---

@import 'core';

.blog{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    // grid-template-rows: 1fr auto 2fr;
    grid-template-areas: "pd tt ."
                         "tp bd sn"
                         ".  rb . ";
    
    // background: blue;
    &__Title{
        grid-area: tt;
        position: relative;
        display: inline-block;   
        div{//image container
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;   
        }
        &__Image{
            width: 100%;
            height: auto;
            min-height: 100px;
            // max-width: 100%;
            // max-height: 50vh;
            // margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        &__Text{

            text-transform: capitalize; 
            
            @include headerFontSettings(2, 1.2);
            @include font_size_responsive(3rem,2.5rem,2rem,1.75rem);
            padding-left: .5rem;
            padding-right: .5rem;

            &__OverImage{
                position: absolute;
                bottom: 0;
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,.5));

            }

            &__Only{
                margin-top: 10rem;
            }
        }
    }
    &__PublishData{
        grid-area: pd;
        display: flex;
        margin-right: .5rem;


        flex-direction: column-reverse;
        &__Writer{

            @include headerFontSettings(2, 1.2);
            @include bg-color-text;
            @include nowrap-text;
            margin-left: auto;
            justify-self: auto;
            margin-bottom: .5rem;

            font-size: 2rem;
            padding-left: .5rem;
            padding-right: .25rem;

        }

        &__Date{
            color: $secondary-font-color;
            // margin-bottom: .5rem;
            // margin-left: auto;
            // justify-self: auto;

            padding-left: .5rem;
            padding-right: .25rem;
        }
    }
    &__Body{
        color: $body-font-color;
        grid-area: bd;
        background: $bg-light;
        padding: 1rem;
        font-size: 1.2rem;
        // background: red;
        .anchor {
            color: $header-font-color;

            word-wrap: break-word;
            white-space: pre-line;
        }
        h1{
            @include headerFontSettings(3rem,1.6rem);

            margin-bottom: 1.5rem;
        }
        h2{
            @include headerFontSettings(2.5rem,1.4rem);
            margin-bottom: .5rem;
            margin-top: .5rem;

        }
        h3{
            @include headerFontSettings(1.6rem,1.2rem);
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
        em{
            color: $secondary
        }

        .highlight {
            background: #f9f9f910;
        }
        img {
            max-width: 100%;
            margin: auto;
            display: block; 
        }

        blockquote {
            background: #f9f9f910;
            border-left: 10px solid $primary;
            margin: 1.5em 10px;
            padding: 0.75em .75em;
            quotes: "\201C""\201D""\2018""\2019";
          }

          blockquote:before {
            // color: #ccc;
            // content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            vertical-align: -0.4em;
          }

          blockquote::after {
            // color: #ccc;
            // content: close-quote;
            font-size: 4em;
            line-height: 0.1em;
            vertical-align: -0.4em;
          }
          blockquote p {
            display: inline;
            
           
          }
    }
    &__Bottom{
        grid-area: rb;
        padding-top: .5rem;
        h4{
            font-size: 1.5rem;
            color: $header-font-color;
            @include undo-header-padding;
            @include pad-lr;
            margin-right: auto;
            display: inline;
        }
        &__Tags{
            color: $primary;
            padding-top: .5rem;
            padding-bottom: .5rem;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

        &__Tag{
            padding: .5rem;
            // @include margin-tb(5rem);
            @include bg-color-text($secondary);
            margin-right: .5rem;
            font-weight: bold;
        }
    }
    &__SideNav{
        display: none;
        grid-area: sn;
        // background-color: $background-color;
        .sticky-wrapper{
            display: flex;
        }


        &__ToggleButton{
            display: none;
            line-height: 1.6rem;
        }


        &__List {
            list-style: none;
            @include undo-header-padding;
            border-left: 4px $secondary solid;
            padding-inline-start: 8px;

            // display: flex;
            // flex-direction: column;

            &::before{
                content: 'Jump()';
                @include headerFontSettings(1.8rem, 1.8rem);
                @include bg-color-text($secondary);
                @include pad-lr;
                line-height: 2.4rem;
                border-bottom: 2px $secondary solid;  
                font-weight: bold;        
                margin-right: auto;                      
            }
            &__Item {
                line-height: 2.6rem;

                
                &__Anchor{
                    font-size: 1.8rem;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-transform: capitalize;
                    min-width: 100px;
                    max-width: 150px;
                    &:hover{
                        @include bg-color-text($secondary);
                        color: $background-color;
                        font-weight: 900;
                    }
                }

                &.AnchorStuck{

                    .blog__SideNav__List__Item__Anchor{
                        @include bg-color-text($secondary);
                        font-weight: 900;
                        color: $background-color;
                    }
                    // top:0;   
                    // margin-top: 55px;
                }

                &__Submenu{
                    list-style: none;
                }
            }
            &.stuck {
                position:fixed;
                z-index: 1;
                top:0;
                margin-top: 55px;

                &__Item {

                    &.AnchorStuck{
                        position:fixed;
                    }
                }
            }
            
        }
    }
    &__Topic{
        grid-area: tp;
        margin-right: .5rem;
        margin-left: .5rem;
        justify-self: right;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        justify-content: right;
        h4{
            font-size: 1.5rem;
            @include bg-color-text;
            @include undo-header-padding;
            @include pad-lr;
            // display: inline;
            margin-left: auto;
            // justify-self: right;
        }
        
        &__ToggleButton{
            display: none;
            line-height: 1.6rem;
        }

        .gamePreviewWidget {
            // background: $bg-light;
            display: flex;
            flex-direction: column;
            // justify-content: right;
            // width: 300px;
            // justify-content: stretch;
            
            &__Icon {
                margin-top: .5rem;

                height: 100%;
                display: flex;
                align-content: flex-start;

                a {
                    height: auto;
                    height: auto;
                    flex-grow: 1;
                    padding: 0;
                    img {
                        max-width: 100%;
                        height: auto;
                        height: auto;
                        // width: 400px;
                        
                    }
                }
                
            }
            &__Title {
                font-family: $header-font-family;
                display: inline;
                font-size: 1.2rem;
                @include undo-header-padding;
                // @include nowrap-text;
                @include bg-color-text;
                // padding-left: .25rem;
                color: $header-font-color;
                margin-top: .5rem;                
                margin-left: auto;
                
                justify-self: right;
                
                span {
                    padding-left: .5rem;
                    padding-right: .5rem;
                    @include bg-color-text;
                    margin-left: auto;
                    justify-self: right;
                    
                    font-size: 1.8rem;
                }
                
            }   
            &__Desc {
                font-size: 1.5rem;
            }
            &__PlatformsList{
                margin-top: .5rem;
                margin-left: auto;
                display: flex;
                flex-direction: column;
                span{
                    // @include bg-color-text($secondary);
                    color: $header-font-color; 
                    @include headerFontSettings(1.5rem,1.5rem);
                    display: block;
                    padding-left: .25rem;
                    padding-right: .25rem;
                    margin-right: auto;
                }
        
                .IconsList{
                    display: inline-flex;
                    flex-direction: row-reverse;
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }

    }

    @include media-md {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: .5rem;
        margin-right: .5rem;
        &__PublishData{
            background: $bg-light;
            flex-direction: column;
            margin-left: 0;

            // &__Writer{
            //     margin-left: 0;
            //     margin-right: auto;    
            // }
    
            // &__Date{
            //     margin-right: 0;
            //     margin-right: auto;    
            // }
        }
        &__Bottom{
            display: flex;
            flex-direction: column;
        }
        &__SideNav{
            position: fixed;
            height: 100%;
            margin-top: -.5rem;
            right: 0;
            display: flex;
            flex-direction: column;   
            max-width: 100%;


            &__ToggleButton{
                
                // display: inline;
                font-size: 1.5rem;
                padding: .5rem;
                margin-top: 0;
                margin-left: auto;
                margin-right: 0;
                justify-self: right;

                
                &.open{
                    color: $secondary;
                    background: none;
                    margin-right: auto;
                    margin-left: 0;

                    border-left: $secondary solid 4px;


                }
            }
            &__List{
                
                &.stuck{
                    position: unset;
                    z-index: unset;
                    top: unset;
                    margin-top: unset;
                }
            }



            &__Container{
                margin-left: auto;
                height: 100%;
                display: none;
                opacity: 0;
                &.open{
                    opacity: 1;
                    display: unset; 
                }
            }


            &.open{
                background: rgba($color: $background-color, $alpha: .8);                
            }

        }
        &__Topic{
            margin-top: -.5rem;
            margin-left: -1 rem;
            position: fixed;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            max-width: 100%;
            
            
            &__ToggleButton{
                display: inline;
                font-size: 1.5rem;
                padding: .5rem;
                margin-top: 0;
                margin-right: auto;
                margin-left: 0;

                justify-self: left;

                &.open{
                    color: $primary;
                    background: none;
                    margin-left: auto;
                    margin-right: 0;
                }
            }


            &__Container{
                height: 100%;
                display: none;
                opacity: 0;
                &.open{
                    opacity: 1;
                    display: unset; 
                }
            }


            &.open{
                z-index: 2;     
                background: rgba($color: $background-color, $alpha: .8);                
            }
        }
    }
    @include media-xsm{
        &__Body {
            .anchor {
                font-size: 2rem;
            }
        }
        &__Title {
            &__Text{
                font-size: 1.6rem;
            }
        }
    }

}
.highlight pre{
    white-space: pre-wrap;
    // width: 100%;
    overflow: scroll;
    overflow: auto;
    padding: .5rem;

    @include media-md {
        white-space: pre;
        overflow: auto;
    }

    // @include font_size_responsive(1rem,1rem,1rem,.75rem);
}

.highlight-parent{
    padding: 0px;
    margin: 0px;
    
    @include media-md {
        max-width: unset;  
    }
}

.sticky-wrapper{
    padding: 0;
    // border-left:  2px $secondary solid;
    
}
