---
layout: skeleton
showNavMirai: true
Title: B-DeshiDev 
customcss:
  - 'assets/css/devlog.css'
---
<div class='blog'>
    <div class="blog__Title">
        <img src="{{page.headerImage}}" alt="" srcset="" class="blog__Title__Image">
        <h1 class="blog__Title__Text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    </div>
    <div class="blog__PublishData">
        <div class="blog__PublishData__Date">{{page.date}}</div>
        <h3 class="blog__PublishData__Writer">{{page.by}}</h3>

    </div>
    <div class="blog__Body">
        {{content }}
    </div>
    <div class="blog__Related"></div>
    <nav  class="blog__SideNav">
    
          
    </nav>
    <div class="blog__Topic">
        {% if page.game %}
            {{ page.game }}
        {% endif %}
        <div class="blog__Topic__Tags">
            {% for tag in page.tags %}
                <span class="blog__Topic__Tag">
                    
                </span>
            {% endfor %}
            
        </div>
    </div>

</div>
