---
layout: skeleton
showNavMirai: true
comments: true
Title: B-DeshiDev 
customcss:
  - 'assets/css/devlog.css'
customScripts:
  - 'https://code.jquery.com/jquery-3.6.0.min.js'
  - '/assets/js/externalModules/imakewebthings-waypoints-34d9f6d/src/jquery.waypoints.min.js'
  - '/assets/js/externalModules/imakewebthings-waypoints-34d9f6d/src/shortcuts/sticky.js'
  - '/assets/js/externalModules/imakewebthings-waypoints-34d9f6d/src/shortcuts/inview.js'
  - '/assets/js/devlogTocGenerator.js'
---
<div class='blog'>
    <div class="blog__Title">
        {% if page.headerImage %}
        <!-- <div> -->
            <img src="{{page.headerImage}}" alt="" srcset="" class="blog__Title__Image">
            <h2 class="blog__Title__Text__OverImage">{{page.title}}</h2>
        <!-- </div> -->
        {% else %}
            <h2 class="blog__Title__Text">{{page.title}}</h2>
        {% endif %}

    </div>
    <!-- <div class="blog__PublishData"> -->
        <!-- <div class="blog__PublishData__Date">{{ page.date | date: "%-d %B %Y" }}</div> -->
        
        <!-- <h3 class="blog__PublishData__Writer">{{page.by}}</h3> -->
    <!-- </div> -->
    
    <div class="blog__Body">
        <div class="blog__PublishData">
            <div class="blog__PublishData__Date">{{ page.date | date: "%-d %B %Y" }}</div>
        </div>
        <br>
        {{ content }}
    </div>
    <div class="blog__Bottom">
        <br>
        <h4>Tags:</h4>          
        <div class="blog__Bottom__Tags">
            {% for tag in page.tags %}
                <span class="blog__Bottom__Tag">
                    #{{tag}}
                </span>
            {% endfor %}

        </div>
        <br>
    </div>
    <nav  class="blog__SideNav">
        <button class="cta-button blog__SideNav__ToggleButton" id = "sideNavToggleButton">
            Jump()
        </button>
        <div class="blog__SideNav__Container">
            {% include toc.html html=content
                class='blog__SideNav__List'
                item_class='blog__SideNav__List__Item'
                anchor_class='blog__SideNav__List__Item__Anchor'
                submenu_class='blog__SideNav__List__Item__Submenu'%}
        </div>
    </nav>
    <div class="blog__Topic">
        {% if page.game %}
            <button class="cta-button blog__Topic__ToggleButton" id = "topicToggleButton">
            Game:
            </button>
            <div class="blog__Topic__Container">
                {% capture gameName %}{{page.game}}{% endcapture %}
                {% include gamePreviewByName.html  %}
            </div> 
        {% endif %}

    </div>
</div>